body {font-family: Helvetica,Verdana; }

table.schedule,table.schedule_weekend {
	border: 2px solid;
	cell-spacing: 0;
	border-collapse: collapse;
	font-size: 12px;
	margin: 2px;
}

table.schedule td,table.schedule_weekend td {
	border: 1px solid;
	width: 100px;
}

table.schedule {
	float: left;
	clear: left;
}

table.schedule_weekend {
	float: left;
}

div.make_summary {
	border: 2px solid;
	margin: auto;
}

div.schedule_info {
	border-left: 2px solid;
	clear: both;
}

div.schedule_info p {
	margin: 5px;
}

td.weekday,td.hour {
	background-color: #cccccc;
	text-align: center;
}

td.hour {
	height:40px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

p {
	font-size: 12px;
}
