body {
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 12px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

p {
	font-size: 12px;
}

p.news {
	border: 4px ridge;
	width: 50%;
	margin: 10px;
	padding: 5px;
	align: center;
}

div.step_box {
	border: 3px solid;
	width: 500px;
}

p.step_current {
	font-size: 16px;
	font-weight: bold;
}

p.step_notcurrent {
	font-size: 14px;
	color: #888888;
}

table.free_period_selector {
	border: 0;
	margin: 1ex 0;
}

table.free_period_selector tr.even {
	background-color: #eeeeee;
}

table.free_period_selector th
{
	padding: 1ex 2em;
}

table.free_period_selector th.hour,th.weekday {
	background-color:#dddddd;
}

table.free_period_selector th.hour {
	text-align: right;
}

div.option_block {
	margin-left: 30px;
	margin-bottom: 30px;
}

/* Group open/close form */

div.full_cbox {
/*	border-width: 3px;
	border-style: solid;
	border-color: #ff0000;
*/
	float:left;
	margin: 1px;
	background-color: #ffaaaa;
}

div.notfull_cbox {
	float:left;
	margin: 1px;
}

table.openclose_table {
	border-spacing: 0px;
}

table.openclose_table td {
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #eeeeee;
	margin: 0px;
	border-width: 0px;
}

table.openclose_table td.course_sym {
	background-color: #cccccc;
	font-weight: bold;
}


table.openclose_table td.openclose_whitespace {
	background-color: #ffffff;
}

table.openclose_table tr.openclose_row {
	border: 2px solid black;
}


