body {
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 12px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

p {
	font-size: 12px;
}

p.news {
	border: 4px ridge;
	width: 50%;
	margin: 10px;
	padding: 5px;
	align: center;
}

div.step_box {
	border: 3px solid;
	width: 500px;
}

p.step_current {
	font-size: 16px;
	font-weight: bold;
}

p.step_notcurrent {
	font-size: 14px;
	color: #888888;
}

table.free_period_selector {
	position: relative;
	left: -2px;
	border: 0;
	border-collapse: collapse;
	width: 550px;
	margin: 1em 0 0 0;
	/* font repeated here for IE */
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 12px;
}

table.free_period_selector tr.even {
	background-color: #eeeeee;
}

table.free_period_selector th
{
	padding: 1ex 2em;
	border: 2px solid #ffffff;
}

table.free_period_selector th.hour,th.weekday {
	background-color:#dddddd;
}

table.free_period_selector th.hour {
	text-align: right;
}

table.free_period_selector td {
	text-align: center;
	border: 2px solid #ffffff;
}

table.free_period_selector input {
	display: block;
	margin: 0 auto;
}

div#header {
	margin-bottom: 3em;
	text-align: center;
}

div.option_block {
	margin-left: 30px;
	margin-bottom: 30px;
}

/* Group open/close form */

table.openclose {
	position: relative;
	left: -2px;
	width: 550px;
	border: 0;
	border-collapse: collapse;
	margin: 2em 0 0 0;
}

table.openclose td {
	font-size: 12px;
	padding: 0.25ex 2em;
	background-color: #eeeeee;
	border: 2px solid #ffffff;
}

table.openclose td.title {
	padding: 0.25ex 0;
	background-color: #ffffff;
}

table.openclose div.title {
	background-color: #cccccc;
	width: 80%;
	padding: 0.5ex 1.5em;
	font-weight: bold;
	border: 0;
	margin: 0;
}

div.title a {
	color: #444444;
}

table.openclose td.type {
	font-weight: bold;
	background-color: #dddddd;
	text-align: center;
	padding: 0.5ex 2px;
}

a.oclink {
	color: #444444;
	float: left;
}

table.openclose td.nested {
	padding:0;
}

table.openclose table.nested {
	width: 100%;
	border: 0;
	border-collapse: collapse;
}

table.nested td.openned {
	font-weight: bold;
	text-align: center;
	width: 100px;
	padding: 0.5ex 0;
	border-width: 0 2px 0 0;
}

table.nested td.closed {
	font-weight: bold;
	text-align: center;
	background-color: #ffaaaa;
	width: 100px;
	padding: 0.5ex 0;
	border-width: 0 2px 0 0;
}

table.nested td.teacher {
	border-width: 0;
	width:100%
	padding: 0.25ex 5px 0.25ex 2em;
}

table.nested td.email {
	width: 25px;
	padding: 0 5px 0 0;
	border: 0;
	vertical-align: middle;
}

td.email a.email {
	display: block;
	float: right;
}

a.email img {
	border: 0;
}
