body {font-family: Helvetica,Verdana; }

table.schedule,table.schedule_weekend {
	border: 2px solid;
	cell-spacing: 0;
	border-collapse: collapse;
	font-size: 12px;
	margin: 2px;
}

table.single_period {
	font-size: inherit;
	border-style: none;
}

table.single_period td.period_noconflict {
	border-style: none;
}

table.single_period td.period_conflict {
	border-color: #ff0000;
	border-style: solid;
	border-width: 2px;
}

table.schedule td,table.schedule_weekend td {
	border: 1px solid;
	width: 110px;
}

table.schedule {
	float: left;
	clear: left;
	margin-bottom: 20px;
}

table.schedule_weekend {
	float: left;
}

table.group_summary {
	font-size: 12px;
	border-spacing: 5px;
}

table.group_summary th {
	text-align: left;
}

table.conflict_table {
	font-size: 12px;
	border-collapse:collapse;
	background-color: #ff8888;
}

div.make_summary {
	border: 2px solid;
	padding: 2px;
	width: 50%;
	clear: both;
	margin-bottom: 20px;
}

div.make_schedule_info {
	//margin-top: 10px;
	width: 685px;
	//border: 2px solid;
	//border-color: black;
	background-color: #777777;
	color: #FFFFFF;
	clear: both;
}

div.make_schedule_info p {
	margin: 0px;
}

div.schedule_info {
	background-color: #EEEEEE;
	width: 685px;
	clear: both;
}

td.weekday,td.hour {
	background-color: #cccccc;
	text-align: center;
}

td.hour {
	height:40px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

p {
	font-size: 12px;
}
