body {font-family: Helvetica,Verdana; }
h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

p {
	font-size: 12px;
}

p.news {
	border: 4px ridge;
	width: 50%;
	margin: 10px;
	padding: 5px;
	align: center;
}

div.step_box {
	border: 3px solid;
	width: 500px;
}

p.step_current {
	font-size: 16px;
	font-weight: bold;
}

p.step_notcurrent {
	font-size: 14px;
	color: #888888;
}

table.free_period_selector {
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	font-size: 12px;
	border-collapse: collapse;
}

table.free_period_selector td {
	font-weight: bold;
}

table.free_period_selector td.hour,td.weekday,td.empty {
	background-color:#dddddd;
}

table.free_period_selector td.hour {
	text-align: right;
}

div.option_block {
	margin-left: 30px;
	margin-bottom: 30px;
}
