body {font-family: Helvetica,Verdana; }
h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

p {
	font-size: 12px;
}

p.news {
	border: 4px ridge;
	width: 50%;
	margin: 10px;
	padding: 5px;
	align: center;
}

table.free_period_selector {
	border: 3px solid;
	font-size: 12px;
	border-collapse: collapse;
}

table.free_period_selector td {
	font-weight: bold;
}

table.free_period_selector td.hour,td.weekday,td.empty {
	background-color:#dddddd;
}

table.free_period_selector td.hour {
	text-align: right;
}