body {font-family: Helvetica,Verdana; }
h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

p {
	font-size: 12px;
}

p.news {
	border: 4px ridge;
	width: 50%;
	margin: 10px;
	padding: 5px;
	align: center;
}
